body {
  font-family: Calibri, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

.all-pics {
  margin: 0;
  padding: 40px;
  cursor: pointer;
}

#pic1 {
  background: #CC3910;
  color: #fff;
}

#pic2 {
  background: #F1F2C0;
  color: #000;
}

#pic3 {
  background: #332F29;
  color: #fff;
}

#pic4 {
  background: #8FA68E;
  color: #fff;
}
